<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%%= csrf_meta_tag() %>
    <%%= live_title_tag assigns[:page_title] || "<%= @app_module %>", suffix: " · Phoenix Framework" %>
    <link petal-track-static rel="stylesheet" href="<%%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer petal-track-static type="text/javascript" src="<%%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="bg-white shadow">
      <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex px-2 lg:px-0">
            <div class="flex-shrink-0 flex items-center">
                Petal
            </div>
            <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
              <a href="#" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%%= @inner_content %>
  </body>
</html>
